<div class="container">
  <h1>Craigslist, Jr.</h1>
  <h2>Articles</h2>

  <div>Articles go here</div>
  <div><a href="../categories">See all categories</a></div>
  <div><a href="/articles/new">Add an article</a></div>


</div>
