<div class="container">
  <h1>Craigslist, Jr.</h1>
  <h2>Articles</h2>

  <div>Articles go here</div>
  <div><a href="../categories">See all categories</a></div>
  <div><a href="/articles/new">Add an article</a></div>



  <% @articles.reverse.each do |entry| %>
        <hr>
        <p><span><b>$<%= entry.price %></b></span> : : :
        <span><%= entry.title %></span></p>
        <p><span><%= entry.description %></span></p>
        <p><span><a href="<% entry.email %>"><%= entry.email %></a></span></p>
    <% end %>
</div>
