<div class="container">
<form method="post" action="/articles">

  <table border=0>

  <tr>
  <td colspan="2">&nbsp;</td>

  <tr>
  <td>Price:</td>
  <td><input id="article" name="article[price]" type="text" size="10"></td>

  <tr>
  <td>Title:</td>
  <td><input id="article" name="article[title]" type="text"></td>

  <tr>
  <td>Description:</td>
  <td><input id="article" name="article[description]" size="55"></td>

  <tr>
  <td>Email:</td>
  <td><input id="article" name="article[email]" type="text"></td>

  <tr>
  <td></td>
  <td><input type="submit" value="Add Article" class="button"></td>

  <tr>
  <td colspan="2"><a href="../articles">Go back to articles without saving</a></td>
  <tr>

</form>
</div>
